/* ipad landscape */

	.Hide{
	display: none;
	}
/*
@media only screen and (min-width: 900px) and (orientation:landscape)
{

	.view1Div{
	position: relative;
	top:20;
	float: left;
	width: 250px;
	}
	
	.view2Div{
	position: relative;
	top:20;
	float: left;
	left:10px;
	width: 730px;
	}
	
	
	.ShowMenu{
		position:absolute;
		bottom: 0;
		width: 100%;
	}
	
	.CashDiv
	{
		position: absolute;
		top:20;
		left: 0px;
		width: 220px;
	}	
	
	.InKomstenDiv
	{
		position: absolute;
		top:20;
		left: 230px;
		width: 220px;
	}
	
	.UitgaandDiv
	{
		position: absolute;
		top:170px;
		left:0px;
		width: 220px;
	}
	
	.SalesDiv
	{
		position: absolute;
		top:170px;
		left:230px;
		width: 220px;
	}
	
}


@media only screen and (max-width: 800px) and (orientation:portrait)
{
	.view1Div{
	position: relative;
	top:20;

	}
	
	.view2Div{
	position: relative;
	top:20;

	}
	
	.ShowMenu{
		position:absolute;
		bottom: 0;
		width: 100%;
	}
	

	.CashDiv
	{
		position: absolute;
		top:20;
		left: 0px;
		width: 220px;
	}	
	
	.InKomstenDiv
	{
		position: absolute;
		top:20;
		left: 230px;
		width: 220px;
	}
	
	.UitgaandDiv
	{
		position: absolute;
		top:170px;
		left:0px;
		width: 220px;
	}
	
	.SalesDiv
	{
		position: absolute;
		top:170px;
		left:230px;
		width: 220px;
	}	
	
}

*/
.pijlOmhoog {
	background: url(../icons/IOS7/up.png) 0% 0% no-repeat;
	background-position:right; 
	padding: 2px 10px 2px 10px;
	z-index: 100;
	position: relative;
	right: 10px;
}

.pijlOmlaag {
	background: url(../icons/IOS7/down.png) 0% 0% no-repeat;
	background-position:right; 
	padding: 2px 10px 2px 10px;
	z-index: 100;
	position: relative;
	right: 10px;
}

.errorMessageDiv{
	position:relative;
	top: 0px;
	width: 100%;
	border-color: red;
	border-size: 4px;
}

.normalMessageDiv{
	position:relative;
	top: 0px;
	width: 100%;
	border-color: black;
	border-size: 1px;
}


